@tecracer:registry=https://tecracer-tcs-331916831503.d.codeartifact.eu-central-1.amazonaws.com/npm/tcs-libraries/
//tecracer-tcs-331916831503.d.codeartifact.eu-central-1.amazonaws.com/npm/tcs-libraries/:always-auth=true
//tecracer-tcs-331916831503.d.codeartifact.eu-central-1.amazonaws.com/npm/tcs-libraries/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
